* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7fa;
  color: #333;
}

.ms-Fabric {
  padding: 20px;
}

header {
  text-align: center;
  background-color: #0078d4;
  padding: 20px 0;
  color: #fff;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin: 0;
}

main {
  margin-top: 30px;
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #0078d4;
}

#email-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p {
  margin-bottom: 10px;
}

strong {
  color: #0078d4;
}

#email-body {
  display: block;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 4px;
  white-space: pre-wrap;
}

#project-name {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

#project-name:focus {
  border-color: #0078d4;
  outline: none;
}

button {
  background-color: #0078d4;
  color: #fff;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005a8c;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #0078d4;
  color: white;
}

 /* Align input and button on the same line */
 .input-container {
  display: flex;
  gap: 3px;
  align-items: center;
}
.input-container button{
  max-width: 130px;
  min-width: 100px;
  margin-top: -5px;
}

/* Custom alert modal */


@media (max-width: 768px) {
  button {
    width: 100%;
  }
}